.TH dsbdriverd 8 "@YEAR@" "version @VERSION@" "DSBDriverd"
.SH NAME
.B dsbdriverd
\(em A device driver loading daemon
.SH SYNOPSIS
.nf
\fBdsbdriverd\fP [\fB-fn\fP][\fB-x\fP \fIdriver,...\fP]
.fi
.SH DESCRIPTION
\fBdsbdriverd\fP is a daemon that automatically tries to find and load the
suitable driver for your PCI and USB hardware. On startup \fBdsbdriverd\fP
scans the PCI and US(B) bus for all connected devices and looks up their
driver in a database using information provided by the hardware. The same
applies to USB devices attached to the system later at runtime.
.SH OPTIONS
.TP
.B -f
Run in foreground.
.TP
.B -n
Just show what would be done, but do not load any drivers.
.TP
.B -x
Exclude every \fIdriver\fP in the comma separated list from loading.
.SH FILES
.nf
@PATH_DB@
@PATH_LOG@
.fi
.SH AUTHOR
.PD 0
Marcel Kaiser <mk@nic-nac-project.org>

