.Dd $Mdocdate$
.Dt DSBDriverd 8
.Os
.Sh NAME
.Nm dsbdriverd
.Nd A device driver loading daemon
.Sh SYNOPSIS
.Nm
.Op Fl l | Fl c Ar vendor:device
|
.Op Fl fnu
.Op Fl x Ar driver,...
.Sh DESCRIPTION
.Nm
is a daemon that automatically tries to find and load the
suitable driver for your PCI and USB hardware. On startup
.Nm
scans the PCI and US(B) bus for all connected devices and looks up their
driver in a database using information provided by the hardware. The same
applies to USB devices attached to the system later at runtime.
.Pp
The options are as follows:
.Bl -tag -width indent
.It Fl c
Check if there is a driver for the given
.Ar vendor
and
.Ar device
ID.
.It Fl f
Run in foreground.
.It Fl l
List installed devices and their corresponding driver.
.It Fl n
Just show what would be done, but do not load any drivers.
.It Fl u
Start
.Xr dhclient 8
on Ethernet devices that appeared after loading the corresponding driver.
.It Fl x
Exclude every
.Ar driver
in the comma separated list from loading.
.El
.Sh FILES
.Bl -tag -width @PATH_DB@ -compact
.It Pa @PATH_DB@
Driver database
.It Pa @PATH_LOG@
Logfile
.El
.Sh AUTHOR
.An Marcel Kaiser <mk@nic-nac-project.org>

